apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1000"
spec:
  project: default
  source:
    repoURL: https://github.com/ISISNeutronMuon/Observability
    targetRevision: HEAD
    path: gitops/components/mimir-multi-tenant-proxy
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true